[mysqld_safe]
log_error = /var/log/mysql/error.log


[mysqld]
basedir = /opt/mysql-8.1.0-linux-glibc2.28-x86_64

bind-address = 0.0.0.0
mysqlx-bind-address = 0.0.0.0

port = 3306

# 允许最大连接数
max_connections = 200

# 允许连接失败的次数。这是为了防止有人从该主机试图攻击数据库系统
max_connect_errors = 10

# 默认认证插件
default_authentication_plugin = mysql_native_password

# 重新设置时区，避免 CST
default-time-zone = '+08:00'

# 服务端使用的字符集默认为 UTF8
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Force table names to lower case(Do it in initialize phase!)
# lower_case_table_names = 1

# 跳过 client ip 反向地址解析
skip-name-resolve = 1

# 日志
log_error = /var/log/mysql/error.log
general_log = 1
general_log_file = /var/log/mysql/general.log

slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-query.log
long_query_time = 3
